* {
	-fx-primary-color: #494B35;
	-fx-secondary-color: #E8ECAE;

	-fx-focus-color: -fx-secondary-color;
}

.date-picker > .text-field {
    -fx-background-color: -fx-secondary-color;
}

.date-picker {
    -fx-background-color: #FBFFBC;
}

.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}

.date-picker .arrow-button .arrow {
	-fx-background-color: -fx-secondary-color;
}

.date-picker .cell {
	-fx-background-color: -fx-secondary-color;
    -fx-text-fill: -fx-primary-color;
}

.date-picker .cell:hover {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}

.date-picker .cell:focused {
	-fx-background-color: -fx-secondary-color;
}

.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}

.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}

.date-picker-popup  {
	-fx-border-width: 0;
	-fx-border-color: transparent;
	-fx-effect: null;
}

.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}

.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}
